html, body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.clear{
    clear:both;
}

/*Navigation Bar*/
#navbar{

}
#nav-menu{
}
.nav{
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 12px 2px rgba(white, green, white, black);
    margin: auto;
    text-align: center;
    position: fixed;
    z-index: 999;
}
.nav ul{
    width: 100%;
    margin: auto;
    padding: 15px 0px;
}
.nav li{
    display: inline-block;
    padding: 5px;

}
.nav a{
text-decoration: none;
}
.nav a:hover{
text-decoration: none;
}
/*HOME PAGE*/
#container-home{
    width: 100%;
    background-size: cover;
    text-align: center;
    padding:159.5px 0px 100px 0px;
}
.home{
    width: 100%;
}
.home h1{
    font-size: 50px;
    font-style: normal;
    color: black;
    text-transform: uppercase;
}
.home h2{
    font-weight: 100;
    font-size: 30px;
    color: green;
    text-transform: uppercase;
}

